{% extends 'core/base.html' %}

{% block title %} Portada {% endblock %}

{% block background%}{%load static%}{% static 'core/img/Cloud-engineer-GPT.png' %}{% endblock %}

{% block headers %}
<h1>Edwin Martínez</h1>
<span class="subheading">Ingeniero Cloud</span>
{% endblock %}

{% block content %}
<div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Desbloquea el Verdadero Potencial de la Nube</h2>   
    <br>
    <p> ¿Te sientes abrumado por la complejidad de la nube? 
    No estás solo. Mi misión es simplificar y optimizar entornos multinube para que tu negocio prospere. Como especialista, 
    te guío a través de las ofertas de Azure, Alibaba Cloud y Amazon Web Services para encontrar la combinación perfecta que impulse la eficiencia,
     reduzca costos y mejore el rendimiento de tu empresa. Mi experiencia es la clave para transformar tu infraestructura digital en una ventaja competitiva.</p>
    <br>
</div>
{% endblock %}
